* {
    box-sizing: border-box;
    font-family: Arial;
}
body {
    margin:0px;
    padding:0px;
}
.linha-1 {
    display: flex;
    padding-top: 20px;
    margin-top:5px ;
    justify-content: space-between;
}
.logo-formulario {
    display: flex;
}
.box-logo {
    padding: 10px 30px 0px 28px;
}
.img-logo {
    width: 92px;
    height: 33px;
}
.box-formulario {
    margin-left: 10px;
    padding: 5px 4px 0px 20px;
    box-shadow: 0px 2px 5px #dfe1e5;
    border-radius: 50px;
}
.container-formulario {
    display: flex;
    align-items: center;
}
.box-input {
    width: 493px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#pesquisa{
    width: 493px;
    height: 39px;
    font-size: 16px;
    border: none;
}
#pesquisa:hover{
    border: none;
}
#pesquisa:focus{
    outline: none !important;
    border: none;
}
.X {
    padding: 0px 4px 0px 8px;
    margin-right: 12px;
}
.X img{
    cursor: pointer;
    width: 14px;
    height: 14px;
}
.barra {
    border-left: 1px solid #dfe1e5;
    height: 28.60px;
}
.icone-teclado {
    padding: 0px 4px 0px 8px;
    margin-left: 12px;
}
.icone-teclado img{
    cursor: pointer;
    width: 20px;
    height: 20px;
}
.icone-microfone {
    padding: 0px 4px 0px 8px;
    margin-left: 12px;
}
.icone-microfone img{
    cursor: pointer;
    width: 20px;
    height: 20px;
}
.icone-lupa{
    padding: 0px 4px 0px 8px;
    margin-left: 12px;
    margin-right: 12px;
}
.icone-lupa img{
    cursor: pointer;
    width: 18px;
    height: 18px;
}
.menu {
    justify-content: end;
}
.container-menu {
    display: flex;
    height: 48px;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
}
.box-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding-right: 10px;  
}
.box-menu a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
}
.box-menu a:hover {
    background-color: #f0f0f0;
}
.box-menu img{
    width: 16px;
    height: 16px;
}
.box-config{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding-right: 10px;
    margin-right: 12px;
}
.box-config a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 20px;
}
.box-config a:hover {
    background-color: #f0f0f0;
}
.box-config img{
    width: 23px;
    height: 23px;
}
.box-img-perfil a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;

}
.box-img-perfil {
    margin-left: 8px;
    margin-right: 8px;
}
.box-img-perfil a:hover {
    background-color: #f0f0f0;
}
.box-img-perfil img {
    width: 32px;
    height: 32px;
    border-radius: 20px;
}
.linha-2{
    height: 58px;
    border-bottom: solid 1px #dadce0;
}
.info-1 {
    display: flex;
    height: 55px;
    max-width: 832px;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}
.menu-navegacao {
    display: flex;
    max-width: 703px;
    justify-content: flex-end;
}
nav ul {
    display: flex;
    list-style: none;
    margin: 0px;
    margin-left: 169px;
}
nav a {
    text-decoration: none;
    color: #5f6368;
    font-size: 14px;
    padding: 17px 12px 11px 10px;
    display: flex;
}
nav a:focus {
    color: #1a73e8;
    padding-bottom: 8px;
    border-bottom:solid 3px #1a73e8;
}
nav img{
    max-width: 15px;
    max-height: 14px;
    margin-right: 5px;
}
.ferramentas {
    padding-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ferramentas a{
    text-decoration: none;
    color: #5f6368;
    padding: 4px 11px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
}
.ferramentas a:hover{
    background-color: #f8f9fa;
    border: solid 1px #dadce0;
    padding: 4px 10px;
}
.container-conteudo {
    width: 652px;
    height: auto;
    margin-left: 180px;
}
.resultados {
    margin: 15px 0px 20px 180px;
}
.resultados h2 {
    margin: 0px;
    color: #70757a;
    font-size: 14px;
    font-weight: normal;
}
.box-resultado-da-pesquisa {
    max-width: 600px;
    margin-top: 0;
    margin-bottom: 30px;
}
.link{
    max-width: 600px;
}
.link a {
    text-decoration: none;
    color: #202124;
    font-weight: normal;
    font-size: small;
}
.link h3 {
    margin: 0px;
    color: #1a0dab;
    padding-top: 10px;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: normal;
}
.descricao {
    max-width: 600px;
    color: #4d5156;
    text-align: left;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.58;
}
.relacionadas {
    font-size: 22px;
    color: #202124;
    font-weight: normal;
    margin: 20px 0px;
}
.box-resultados-relacionados {
    display: flex;
}
.box-relacionados {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 652px;
}
.botao-pesquisa {
    margin-bottom: 10px;
}
.botao-pesquisa a{
    width: 318px;
    display: flex;
    align-items: center;
    background-color: #f1f3f4;
    border-radius: 100px;
    min-height: 48px;
    text-decoration: none;
    color: #000;
}
.icone-relacionados{
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 5px;
}
.icone-relacionados img {
    width: 18px;
    height: 18px;
}
.text-relacionados {
    color: #202124;
    font-size: 16px;
}
.div-footer {
    background-color: #f2f2f2;
    height: 105px;
    padding: 12px 0px;
}
.box-info-footer {
    height: 40.5px;
}
.border-botton {
    border-bottom: solid 1px #dadce0;
}
.footer-info {
    display: flex;
    align-items: center;
    height: 40.5px;
}
.footer-text-1 {
    margin-left: 190px;
    color: #0000008a;
    font-size: 15px;
    padding-bottom: 3px;
    
}
#barra {
    border-left: solid 1px #dadce0;
    height: 100%;
    margin-left: 10px;
}
.footer-loc a{
    margin-left: 20px;
    text-decoration: none;
    display: flex;
}
.bolinha {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #70757a;
    margin-right: 4px;
    margin-top: 3px;
}
.cidade {
    text-decoration: none;
    color: #3c4043;
    font-size: 14px;
}
.info-loc {
    margin-left: 3px;
    color: #1a73e8;
}
.flex-2 {
    display: flex;
    align-items: center;
}
.footer-info-2 {
    margin-left: 190px;;
}
.footer-info-2 a{
    margin-right: 25px;
    text-decoration: none;
    color: #0000008a;
    font-size: 14px;
}
@media (max-width:1050px) {
    .box-input{
        width: 323px;
    }
}
@media (max-width:873px) {
    .box-input{
        width: 223px;
    }
    nav img{
        display: none;
    }
    nav ul {
        padding-left: 0px;
    }
    .info-1 {
        justify-content: flex-start;
    }
    .descricao {
        max-width: 380px;
    }
    .box-resultados-relacionados{
        flex-direction: column;
    }
    .box-relacionados {
        align-items: flex-start;
    }
}
